.frame{
    border: solid black 2px;
    height: 815px;
    width: 300px;
    position: absolute;
    left: 40%;
}
.emblem{
    height:80px;
}
.logo{
    height:80px;
    width: 70px;
    position: absolute;
    left: 76%;
}
.bharat{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 9px;
    position: relative;
    bottom: 6px;
}
.t2{
    background-color: rgb(213, 104, 21);
    color: white;
    text-align: center;
    font-size: 19px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.id{
    background-color: rgb(36, 155, 28);
    color: white;
    text-align: center;
    position: relative;
    bottom: -30px;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.en{
    text-align: center;
    font-size: 15px;
    position: relative;
    bottom: -34px;
    font-family: Arial, Helvetica, sans-serif;
}
.detail{
    position: relative;
    bottom: -38px;
    font-size: 11px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.scan{
    height: 110px;
    width: 120px;
    position: relative;
    left: 180px;
    bottom: -30px;
}
.t8{
    font-size: 15px;
    position: relative;
    bottom: -19px;
    text-align: center;
}
.hrs{
    border: solid red 1px;
}
.sym{
    height: 45px;
    padding-left: 10px;
    position: relative;
    bottom: 7px;
}
.gov{
    width: 220px;
    height: 40px;
    position: relative;
    left: 10px;
    bottom: 1.5%;
}
.lng{
    height: 40px;
    position: relative;
    left: 82%;
    bottom: 7%;
}
.men{
    height: 85px;
    width: 70px;
    position: relative;
    right: -12%;
    top: -22%;
}
.info{
    font-size: 10px;
    position: relative;
    left: 38%;
    bottom: 33.6%;
}
.ins{
    border: solid;
    font-size: 7px;
    position: relative;
    bottom: 33.4%;
    width: 180px;
    left: 37%;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.an{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    bottom: 30%;
    padding-left: 100px;
}
.hp{
    border:1px solid red;

    position: relative;
    bottom: 31%;

}
.check{
    height: 50px;
    width: 60px;
    position: relative;
    right: 30%;
    bottom: -3%;
}